{% extends "_includes/layouts/index" %}

{% set sectionName = 'contact' %}

{% set entry = craft.entries().section('contact').type('contact').one() %}

{% block masthead %}
    {% include "_includes/sections/masthead" with { 'signpost': sectionName } %}
{% endblock %}

{% block main %}
    <style>
        #text-info {
            position: absolute;
            left: -99999em;
        }
    </style>
    <main class="main" data-template="{{ sectionName }}">

        {% include '_includes/sections/leadspace' with {
            'title': entry.title,
            'body': entry.subtitle
        } %}

        <section data-section="our-offices">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>Our offices</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        {{ companyInformation.uaeAddress }}
                        <a href="tel:{{ companyInformation.uaePhone }}" class="border-link">{{ companyInformation.uaePhone }}</a>
                    </div>
                    <div class="col-12 col-md-4">
                        {{ companyInformation.unitedStatesAddress }}
                        <a href="tel:{{ companyInformation.usaPhone }}" class="border-link">{{ companyInformation.usaPhone }}</a>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href="mailTo:{{ companyInformation.informationEmail }}" class="border-link">{{ companyInformation.informationEmail }}</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="background-gray" data-section="contact-form">
            {% include '_includes/components/section-title' with {
                'title': 'Get in touch.'
            } %}

            {% if craft.app.session.hasFlash('notice') %}
            <div class="container">
                <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
            </div>
            {% elseif craft.app.session.hasFlash('error') %}
            <div class="container">
                <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
            </div>
            {% endif %}

            {% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            <form method="POST" id="liwaContactForm" name="contact-us" action="" accept-charset="UTF-8">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">
                <input type="text" name="text-info" id="text-info">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-container">
                                <label for="firstName">First name *</label>
                                <input type="text" name="message[FirstName]" id="firstName" placeholder="First name *" value="{{ message.message.FirstName ?? '' }}">
                            </div>
                            <div class="form-container">
                                <label for="lastName">Last name *</label>
                                <input type="text" name="message[LastName]" id="lastName" placeholder="Last name *" value="{{ message.message.LastName ?? '' }}">
                            </div>
                            <div class="form-container">
                                <label for="email">Email *</label>
                                {# <input type="email" name="email" id="email" placeholder="Email *" value="{{ message.email ?? '' }}"> #}
                                <input type="email" id="from-email" name="fromEmail" placeholder="Email *" value="" autocomplete="email">
                            </div>
                            <div class="form-container">
                                <label for="phoneNumber">Phone number *</label>
                                <input type="text" name="message[Phone]" id="phoneNumber" placeholder="Phone number *" value="{{ message.message.Phone ?? '' }}">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-container">
                                <label for="company">Company *</label>
                                <input type="text" name="message[Company]" id="company" placeholder="Company *" value="{{ message.message.Company ?? '' }}">
                            </div>
                            <div class="form-container">
                                <label for="message">Message *</label>
                                <textarea name="message" id="message[body]" rows="5" placeholder="Message *">{{ message.message.body ?? '' }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col align-items-center">
                            <div class="bttn-bank center">
                                {# <button type="submit" class="bttn">Submit</button> #}
                                <button class="g-recaptcha bttn"
                                    data-sitekey="6Leu__8pAAAAAPtWXvwE8anGulJKDyK3sLaq-F-M"
                                    data-callback='onSubmit'
                                    data-action='submit'>Submit</button>
                            </div>
                        </div>
                    </div>
                    {# <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-container">
                                <label for="firstName">First name *</label>
                                <input type="text" name="first_name" placeholder="First name *">
                            </div>
                            <div class="form-container">
                                <label for="lastName">Last name *</label>
                                <input type="text" name="last_name" placeholder="Last name *">
                            </div>
                            <div class="form-container">
                                <label for="email">Email *</label>
                                <input type="text" name="email" placeholder="Email *">
                            </div>
                            <div class="form-container">
                                <label for="phoneNumber">Phone number *</label>
                                <input type="text" name="phone_number" placeholder="Phone number *">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-container">
                                <label for="company">Company *</label>
                                <input type="text" name="company" placeholder="Company *">
                            </div>
                            <div class="form-container">
                                <label for="message">Message *</label>
                                <textarea name="message" rows="5" placeholder="Message *"></textarea>
                            </div>
                        </div>
                    </div> #}
                </div>
            </form>
        </section>

    </main>
{% endblock %}
